streamlit==1.35.0

langchain==0.2.12
langchain-core==0.2.41
langchain-community==0.2.11
langchain-chroma==0.1.4
langchain-groq==0.1.10
langchain-huggingface==0.0.3

chromadb==0.4.24

sentence-transformers==2.7.0
transformers==4.41.2
tokenizers==0.19.1
huggingface-hub==0.23.2

python-dotenv==1.0.1
selenium==4.21.0
unstructured==0.12.6
beautifulsoup4==4.12.3
tqdm==4.66.2
